################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/StarMaps/FileContentIndex
/.vs/StarMaps/v17
/x64/Debug
